<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" parallel="methods" thread-count="2">
    <listeners>
        <listener class-name="com.qa.utils.TestNGListernsImp">
        </listener>
    </listeners>
    <test name="TestName" verbose="10" preserve-order="true">
        <classes>
            <class name="com.qa.testCases.LogInPageTest">
            </class>
        </classes>
    </test>
</suite>